*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
:root{
    --heading-background-color:darkblue;
    --border:1px solid black;
    --padding:1 rem;


}
nav{
    background-color:darkblue;
    padding:var(--padding);
}

nav a {
    color:white;
    display:block;
    padding:var(--padding);
}
h1{
    color:darkblue;
}
img{
    width:150px;
    height:auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray ;
}
p{
    padding: var(--padding);
}
main{max-width: 840px;
}
aside{
    width:20em;
    margin:2rem;
    border:var(--border);
    padding:2rem;
    background-color:burlywood;
    color:rgb(177, 25, 152);
    text-align:center;
    position:relative;
    
}
aside img{
    width: 200px;
    height: auto;
}
main img {
    width:150px;
    height:auto;
    float:right;
}

p{
    padding:0;
}
footer {
    margin-top:20px;
    border-top:1px solid rgb(207, 64, 64);
    text-align:center;
}
/* Class Selectors */
.box{
    margin:1rem;
    border:1px solid rgb(0 0 0/10%);
    padding:1rem auto;
    background-color: #f0d8d8;
    color:#000;
}
.aside h2{
    position:absolute;
    top: 220px;
    left:150px;
}